<%- include('../layouts/header') %>

<div class="row">
    <div class="col-3 ms-3"><a href="/api/teacher/dashboard" class="btn btn-info" style="margin-top:5px;">Back</a></div>
<div class="col-6 mt-5">
    
    <h4>Add New Result</h4>
    <form method="post">
        <% if(message != '') { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong><%= message %></strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Roll No : </label>
          <input type="number" min="1" name="Roll_No" required class="form-control" >
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name : </label>
            <input type="text" name="Name" required class="form-control"  >
          </div>
          
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Date of Birth : </label>
            <input type="date" name="DOB" class="form-control" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Score : </label>
            <input type="number" min="1" name="Score" required class="form-control" >
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-danger" type="reset">Clear</button>
    </form>
</div>
<div class="col-3"></div>
</div>
